/*Copyright © 2023 MuBai. All rights reserved.*/
main
{
background-color: #e2e1e4;
}
t1
{
color: #3896ee;
font-size: 50px; 
}
.top
{
    height: auto;
    width: 100%;
    margin-left: 0;
    background-color: #3896ee;
    position: fixed;/*固定在顶部*/
    top: 0;/*离顶部的距离为0*/
    margin-bottom: 5px;
}
.top ul
{
    width: auto;
    list-style-type:none ;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;
    /*margin-top: 0;*/
    padding: 0;
}
.top li
{
    float: left;
    margin-right: 2%;
    position: relative;
    overflow: hidden;
}
.top li a
{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none;
}
.top li a:hover
{
    background-color: #3896ee;
}
.top ul li ul
{
    margin-left: -0.2px;
    background-color: #3896ee;
    position: relative;
    display: none;
}
.top ul li ul li
{
    float: none;
    text-align: center;
}
.top ul il:hover ul
{
    display: block;
}
